<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filePath" value ="C:\AppData\VSU Gig Finder"/>
	</appSettings>
	<connectionStrings>
		<add name ="GigHub" connectionString ="Data Source=DESKTOP-R83M1NS; Database=GigHub; Trusted_Connection=True;" providerName ="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>